doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= t('dashboard.title')
    link(rel='stylesheet', href='/stylesheets/global.css')
    link(rel='stylesheet', href='/stylesheets/tailwind.min.css')
    link(rel='icon', href='/icons/logo1.png', type='image/x-icon')
    link(
      rel='stylesheet',
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'
    )
  body.bg-gray-100.min-h-screen.flex
    //- Sidebar
    aside.min-h-screen.w-64.bg-brand-primary.p-4.shadow-lg
      .flex.items-center.justify-center.mb-8
        img.h-16(src='/icons/logo.png', alt=t('logo.alt'))
      nav
        ul
          li.mb-4
            a.flex.items-center.text-white.transition.px-3.py-2.rounded(
              href='/admin',
              class=(activeMenu === 'dashboard' ? 'bg-blue-500' : '')
            )
              i.fas.fa-chart-bar.mr-3
              | #{ t('sidebar.statistics') }
          li.mb-4
            a.flex.items-center.text-white.transition.px-3.py-2.rounded(
              href='/admin/list-instructors',
              class=(activeMenu === 'instructors' ? 'bg-blue-500' : '')
            )
              i.fas.fa-chalkboard-teacher.mr-3
              | #{ t('sidebar.list_instructors') }
          li.mb-4
            a.flex.items-center.text-white.transition.px-3.py-2.rounded(
              href='/admin/list-students',
              class=(activeMenu === 'students' ? 'bg-blue-500' : '')
            )
              i.fas.fa-user-graduate.mr-3
              | #{ t('sidebar.list_students') }
          li.mb-4
            a.flex.items-center.text-white.transition.px-3.py-2.rounded(
              href='/admin/list-courses',
              class=(activeMenu === 'courses' ? 'bg-blue-500' : '')
            )
              i.fas.fa-book-open.mr-3
              | #{ t('sidebar.list_courses') }
          // Thêm mục tạo mới user
          li.mb-4
            a.flex.items-center.text-white.transition.px-3.py-2.rounded-lg.hover-bg-blue-600(
              href='/admin/users/create'
            )
              i.fas.fa-user-plus.mr-3
              | #{ t('admin.create_user.title') }

    //- Main content
    .flex-1.p-8
      //- Top bar
      .flex.justify-between.items-center.mb-8
        h1.text-2xl.font-bold ADMIN

        // Language Selector
        .ml-auto.flex.items-center.space-x-3
          a.flex.items-center(href='?lng=en')
            img.flag.w-6.h-4.mr-4(src='/images/eng-flag.png', alt='avatar')
            | #{ t('english') }
          .border-l.border-gray-300.h-4
          a.flex.items-center(href='?lng=vi')
            img.flag.w-6.h-4.mr-4(
              src='/images/vietnam-flag.png',
              alt='vietnam-flag'
            )
            | #{ t('vietnamese') }

          button.bg-red-500.text-white.rounded-md.px-4.py-2.hover-bg-red-600.transition(
            onclick='window.location.href=\'/auth/logout\''
          )
            | #{ t('logout') }

      //- Content
      main.flex-1.p-4
      block content

    // Delete confirmation modal
    #deleteConfirmModal.hidden.fixed.inset-0.bg-black.bg-opacity-50.items-center.justify-center
      .bg-white.rounded-lg.p-6.w-96
        h3.text-lg.font-semibold.mb-4= t('common.confirmMessage')
        .flex.justify-end.space-x-2
          button#cancelDeleteBtn.px-4.py-2.rounded.bg-gray-200.hover-bg-gray-300(
            type='button'
          )= t('common.back')
          button#confirmDeleteBtn.px-4.py-2.rounded.bg-red-500.text-white.hover-bg-red-600(
            type='button'
          )= t('common.delete')

  script(src='/javascripts/admin-index.js')
