extends common-layout

block content
  .flex.items-center.justify-center.min-h-screen.bg-brand-light-2
    .max-w-md.w-full.mx-auto.bg-white.shadow-lg.rounded-lg.p-8
      h2.text-2xl.font-semibold.mb-6.text-center= t('forgot_password.title')

      if error_message
        p.text-red-500.text-center.mb-4= error_message
      if success_message
        p.text-green-500.text-center.mb-4= success_message

      form(action='/auth/forgot-password', method='post')
        .form-group.mb-4
          label.text-sm.font-medium(for='email')= t('forgot_password.enter_email')
          input#email.w-full.p-2.border.border-gray-300.rounded-md(
            type='email',
            name='email',
            required
          )
        button.w-full.bg-brand-primary.text-white.py-2.rounded-md(
          type='submit',
          class='hover:bg-brand-primary-dark'
        )= t('forgot_password.submit')
